asgiref==3.6.0
backports.zoneinfo==0.2.1;python_version<"3.9"
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
Django==4.1.7
django-filter==22.1
djangorestframework==3.14.0
importlib-metadata==6.1.0
Markdown==3.4.1
mysqlclient==2.1.1
PyMySQL==1.0.2
pytz==2022.7.1
sqlparse==0.4.3
zipp==3.15.0
